<div class="cont-inf  row">
    <div class="imagen col">
        <img src="../../assets/imagenes/3746b33e879cca0e7c80611811f44318.jpg" class="img-fluid" alt="carro">
    </div>
    <div class="texto col-md">
        <h1>Reseña de Avengers</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur repellat, fugiat repellendus ex dolorem consequuntur ad sunt illo necessitatibus. Delectus sint vitae laudantium dolor rerum dolores officia repellendus nesciunt.</p>
    </div>

</div>

<button type="button" class="btn-reg btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Formulario de registro
  </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulario de registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Ingresa tu Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Nunca compartas tu información personal.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Acepto condiciones</label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</div>